#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0; /* Remove margin auto from body */
  max-width: 38rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; 
}

.controlButtons {
  align-items: center; 
}

.fileButtons {
  row-gap: 50px;
  align-items: center; 
}

.playBar{
  width:50%;
  background:rgb(70, 69, 69);
  height:10px;
  border-radius: 20px;
  align-items: center; 
}

#playedAmount{
  width:0;
  background:black;
  height:10px;
  border-radius: 20px;
  transition: width 0.2s linear;
  will-change: width;
  align-items: center; 
}

.hidden {
  display: none;
}